@import "tailwindcss";


body {
    font-size: 16px;
    font-family: sans-serif;
    width: 100%;
    
}

@theme {
    --color-primary: hsl(37, 100%, 94%);
    --color-primaryV2: hsl(60, 100%, 94%);
    --color-secondary: hsl(0, 0%, 98%);
    --color-heading: hsl(0 ,0% ,0%);
    --color-subheading: hsl(0 ,0% ,0%)
    --color-normaltext: hsl(0 ,0% ,10%);
    --color-fainttext: hsl(0 ,0% ,20%);
    --text-h1: 2.25rem;
    --text-h2: 1.5rem;
    --text-h3: 1.125rem;
    --text-h4: 1rem
    
}